body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', sans-serif;
  background-color: azure;
  text-align: justify;
  font-size: 13px;
}
.profile-pic {
  width: 200px;
}
.photo-wrapper {
  background-color: white;
  padding: 15px 15px;
  border: 1px solid #F0F0F0;
}
.section-divider {
  padding: 5px 15px 0px;
  border-bottom: 1px solid #F0F0F0;
  margin-bottom: 15px;
}
.loc-wrapper {
  text-align: center;
  list-style: none;
  padding-left: 0;
}
ul {
  margin-top: 10px;
}
li {
  margin-bottom: 10px;
  line-height: 0.56;
}
.social-wrapper{
  text-align: center;
}
.social-wrapper > a {
  text-decoration: none;
  color: #000000;
  display: inline-block;
  margin-right: 10px;
}
.content-wrapper {
  padding: 0 15px;
}
.main-wrapper {
  border: 1px solid #F0F0F0;
  background-color: white;
  padding: 15px 15px;
}
.left-margin {
  margin-left: 5px;
}
.right-margin {
  margin-right: 5px;
}
.uppercase {
  text-transform: uppercase;
  display: inline-block;
}
p {
  margin-top: 10px;
}
section {
  margin-bottom: 20px;
}
.sub-section {
  margin-bottom: 20px;
}
.skill-list {
  padding-left: 0;
  list-style: none;
}
.skill-list li {
  display: inline-flex;
  margin-left: 5px;
}
.list-item {
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  background-color:#F0F0F0;
  padding: 5px;
  font-weight: 700;
}
@keyframes heartbeat
{
  0%
  {
    transform: scale( .75 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .75 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .75 );
  }
  100%
  {
    transform: scale( .75 );
  }
}
.heart {
  display: inline-block;
  animation: heartbeat 1s infinite;
}
.footer {
  text-align: center;
  font-size: 10px;
}